html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

h1,h2,h3 {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;

}

.botao{
    color: #ffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #1f1fa8;
    font-size: .9em;
    border-radius: 5px;

}

/**Navegação**/
#logo{
    width: 20px;
}

@font-face {
    font-family: LobsterTwo-Italic;
    src: url("../fonts/LobsterTwo-Italic.ttf");
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav h2{
    color: #1f1fa8;
    text-align: center;
    font-family: 'LobsterTwo-Italic';
  
}

nav > a {
    text-decoration: none;
    color: #0000;
    font-weight: 800;
    font-size: 32px;
}   

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li { 
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    text-decoration: none;
    color: #ffff;
    font-family: 'roboto';
    font-size: large;
    background-color: #1f1fa8;
    border-radius: 5px;
    
    
    
}
li :hover{
    background: #1d92f1;
    color: #000;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000ff;
    background: linear-gradient(#ffff, #180080, #7ccdf3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
    text-align: center;
    padding: 20px;
}

header h6{
    display: none;
}
header h1 {
    color: #000;
}

header p {
    margin-bottom: 2em;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    color: #000;

}

#sobre h2 {
    color: #000;

}
#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

/**Serviços**/

#serviços{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;    
   

}

#serviços div{
   
    background: linear-gradient(#ffff, #1d92f1, #7ccdf3);
    align-items: center;
    text-align: center;
    margin-top:30px ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.div1{
    margin-right: 20px;
    border-radius: 20px;
}
.div2{
    margin: 20px;
    border-radius: 20px
}
.div3{
    margin: 20px;
    border-radius: 20px
}


#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    margin:20px;
  
    
}

#portfolio h2{
    margin-bottom: 20px;

}


section img{
    
    width: 100%;
    height: 100%;
    border-radius: 500px;
}
    
#contato {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000;
}

#contato img{
    width: 2em;
}
#redes{
    flex-direction: column;
    align-items: center;
    text-align: center;

   
}
.div6 img{
    width: 3rem;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 2em;
   
}
section h4{
    margin-top: 10px;
}
footer {
    background: linear-gradient(#ffff, #1d92f1, #7ccdf3);
    text-align: center;
    padding: 10px;


}

footer a {
    text-decoration: none;
    color: #1d92f1;
    margin-top: 2em;
}
footer p{
    margin-top: 2em;
}

@media screen and (min-width: 768px) {
    
    nav{
        flex-direction: row;
        justify-content: space-around;

    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    header {
        height: 600px;
        height: 60vh;
        justify-content:center ;
    }
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height:250px ;
    }
    #serviços {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin:0 auto;

    }
    #serviços h2{
        text-align: center;
        width: 100%;
    }
    #serviços div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    #portfolio{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #portfolio h2{
        width: 100%;
        text-align: center;

    }
    #portfolio img {
        width: 33.33333%;
        

    }
    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 500px;
        margin: 0 auto;

    }
     #contato h2 {
        width: 100%;
    }
}

